In [31]:
# demo_pandas.ipynb (i pythobn notebook)

from pandas import Series, DataFrame
import pandas as pd

# 시리즈 객체는 하나의 컬럼데이터
myCampus = Series([100, 200, 300, 400, 500],
                  index = ['2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27'])

print(myCampus)

2024-09-23    100
2024-09-24    200
2024-09-25    300
2024-09-26    400
2024-09-27    500
dtype: int64

In [32]:
# 슬라이싱
myCampus['2024-09-23']

100

In [33]:
# 데이터프레임: 다중의 행과 열
data = {'col1':[1, 2], 'col2':[3, 4]}
df = DataFrame(data=data,
               index=['2024-09-23', '2024-09-24'])

print(df)

            col1  col2
2024-09-23     1     3
2024-09-24     2     4

In [34]:
df['col2']

2024-09-23    3
2024-09-24    4
Name: col2, dtype: int64

In [35]:
df.loc['2024-09-23']

col1    1
col2    3
Name: 2024-09-23, dtype: int64

In [36]:
data = {'foreigner':[1, 2, 3, 4, 5],
        'sratio':[10, 20, 30, 40, 50],
        'org':[100, 200, 300, 400, 500],
        'sprice':[1000, 2000, 3000, 4000, 5000],
        'private':[10000, 20000, 30000, 40000, 50000]
}

dFrame = DataFrame(data=data,
                   index=['2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27'])
dFrame
# dFrame.info()

            foreigner  sratio  org  sprice  private
2024-09-23          1      10  100    1000    10000
2024-09-24          2      20  200    2000    20000
2024-09-25          3      30  300    3000    30000
2024-09-26          4      40  400    4000    40000
2024-09-27          5      50  500    5000    50000

In [37]:
# 컬럼의 순서지정
frame3 = DataFrame(data,
                   columns=['foreigner', 'private', 'org', 'sratio', 'sprice'])
frame3

# 컬럼 슬라이싱
# frame3['private']
# type(frame3['private'])

   foreigner  private  org  sratio  sprice
0          1    10000  100      10    1000
1          2    20000  200      20    2000
2          3    30000  300      30    3000
3          4    40000  400      40    4000
4          5    50000  500      50    5000

In [41]:
# 인덱스를 수정
frame4 = DataFrame(data,
                   columns=['foreigner', 'private', 'org', 'sratio', 'sprice'],
                   index=['2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27'])

frame4

# 행을 슬라이싱
# frame4.loc['2024-09-24']

            foreigner  private  org  sratio  sprice
2024-09-23          1    10000  100      10    1000
2024-09-24          2    20000  200      20    2000
2024-09-25          3    30000  300      30    3000
2024-09-26          4    40000  400      40    4000
2024-09-27          5    50000  500      50    5000

In [42]:
frame4.T

           2024-09-23  2024-09-24  2024-09-25  2024-09-26  2024-09-27
foreigner           1           2           3           4           5
private         10000       20000       30000       40000       50000
org               100         200         300         400         500
sratio             10          20          30          40          50
sprice           1000        2000        3000        4000        5000